<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>AMA (Ask Me Anything) Question Answering Bot</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="prediction">
        <h1>Ask any question</h1>
        <form action="{{ url_for('predict')}}"method="post">
			<label for="qry">Question: </label>
			<input type="text" id="qry" name="qry" required="required">
			<br>
			<br>
			<button type="submit" class="btn btn-primary btn-block btn-large">Get Answer</button>
        </form>

       <br>
	   <span style="white-space: pre-line">{{ prediction_text }}</span>
    </div>
</body>
</html>